In [3]:
#LIST COMPREHENSION

In [2]:
list2=[1,2,3,4,5]

In [3]:
list1 = range(10)

In [4]:
list1

range(0, 10)

# Range is not initialized before hand. It is created as follows:

In [8]:
list3 = list(list1)

In [6]:
type(list2)

list

In [7]:
type(list1)

range

In [9]:
type(list3)

list

In [11]:
for i in list3:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
'aks' in 'akshat'

True

in operator can be applied on any iterable object

    iter() is a manual function to iterate in objects similarly. It is usually used to save the RAM as complete data is not required to be stored in RAM and one by one object is returned by it.
    
    by using iter(), you add some extra time to your program as it will fetch objects one by one

In [18]:
for i in iter('akshat'):
    print(i)

a
k
s
h
a
t

In [19]:
#comment
#sadsad
#sdfdfdfds

'''csdcds
sdcsdc
cdsc
dscds
csdcds
cscscsd'''

'csdcds\nsdcsdc\ncdsc\ndscds\ncsdcds\ncscscsd'

''' is used for multiple line comments
''' is also used for assigning too complex and big data to a variable, i.e. variable assignment

In [20]:
s = '''dddsadas
dsadsa
dsad
sad
sa
das
das
ds
ad
sad
sad
sa
dsa
d
sad
sads
ad
as
dsa
da
sd
sad
asd
as
dsa
das
d
s
sda
d
asd
sad
as'''

In [21]:
s

'dddsadas\ndsadsa\ndsad\nsad\nsa\ndas\ndas\nds\nad\nsad\nsad\nsa\ndsa\nd\nsad\nsads\nad\nas\ndsa\nda\nsd\nsad\nasd\nas\ndsa\ndas\nd\ns\nsda\nd\nasd\nsad\nas'

In [26]:
s = '''
Terms & Conditions
Printer-friendly version

This website is designed, developed and maintained by National Institution for Transforming India, Government of India.

Though all efforts have been made to ensure the accuracy and currency of the content on this website, the same should not be construed as a statement of law or used for any legal purposes. Incase of any ambiguity or doubts, users are advised to verify / check with the Department(s) and / or other source(s), and to obtain appropriate professional advice.

Under no circumstances will this Department be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this website.

These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.

The information posted on this website could include hypertext links or pointers to information created and maintained by non-Government / private organisations. National Institution for Transforming India  is providing these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the National Institution for Transforming India website and are subject to the privacy and security policies of the owners / sponsors of the outside website.

National Institution for Transforming India, does not guarantee the availability of such linked pages at all times.

Webmaster
NITI-Website
Email: webadm-niti[at]gov[dot]in
'''

In [27]:
bytes(s, 'utf-8')

b'\nTerms & Conditions\nPrinter-friendly version\n\nThis website is designed, developed and maintained by National Institution for Transforming India, Government of India.\n\nThough all efforts have been made to ensure the accuracy and currency of the content on this website, the same should not be construed as a statement of law or used for any legal purposes. Incase of any ambiguity or doubts, users are advised to verify / check with the Department(s) and / or other source(s), and to obtain appropriate professional advice.\n\nUnder no circumstances will this Department be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this website.\n\nThese terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.\n\nThe information posted on this website could include hypertext links or pointers to information created and maintained by non-Government / private organisations. National Institution for Transforming India  is providing these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the National Institution for Transforming India website and are subject to the privacy and security policies of the owners / sponsors of the outside website.\n\nNational Institution for Transforming India, does not guarantee the availability of such linked pages at all times.\n\nWebmaster\nNITI-Website\nEmail: webadm-niti[at]gov[dot]in\n'

In [28]:
bytes(list3)

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'

bytearray() shows actual while bytes() will encode the string and then gave output

https://docs.python.org/2.4/lib/standard-encodings.html

In [49]:
list4 = []
list5 = []
for i in list3:
    if i%2 == 0:
        list4.append(i)
    else:
        list5.append(i)

In [50]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
list4

[0, 2, 4, 6, 8]

In [52]:
list5

[1, 3, 5, 7, 9]

In [54]:
[i**2 for i in list3]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
[i for i in list3 if i%2==0]

[0, 2, 4, 6, 8]

In [60]:
e = []
o = []
[e.append(i) if i%2==0 else o.append(i) for i in list3]

[None, None, None, None, None, None, None, None, None, None]

In [61]:
e

[0, 2, 4, 6, 8]

In [62]:
o

[1, 3, 5, 7, 9]

In [63]:
['yes' if i==0 else 'no' if i==1 else 'gone' for i in list3]

['yes', 'no', 'gone', 'gone', 'gone', 'gone', 'gone', 'gone', 'gone', 'gone']

In [65]:
['yes' if i==0 else 'no' if i==1 or i==2 or i==3 else 'gone' for i in list3]

['yes', 'no', 'no', 'no', 'gone', 'gone', 'gone', 'gone', 'gone', 'gone']

In [67]:
list6 = [i*2 for i in list3]

In [68]:
list6

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
map(sum, list3)

map is its type and it is saved at location 0x7efc2c634a20

In [70]:
list(map(sum, list3))

TypeError: 'int' object is not iterable

map perform function on iterable object, one at a time. It requires a function in its argument

In [71]:
def double_x (x):
    return x+x

In [72]:
double_x(10)

20

In [75]:
m = map(double_x, list3)

In [76]:
m

In [77]:
list(m)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Lambda Function

In [89]:
double_x2 = lambda x:x+x

In [90]:
m1 = map(double_x2, list3)

In [91]:
m1

In [92]:
list(m1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [93]:
double_x3 = lambda x:double_x(x)

In [94]:
m2 = map(double_x3, list3)

In [95]:
list(m2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [96]:
oddEven = lambda x: 'even' if x%2==0 else 'odd'

In [97]:
m3 = map(oddEven, list3)

In [98]:
list(m3)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# Filter

In [101]:
f = filter(lambda x: True if x%2==0 else False, list3)

In [102]:
list(f)

[0, 2, 4, 6, 8]

filter needs a function whose output is boolean either true or false to filter out the irrelevant data

# Methods

In [103]:
type(double_x)

function

function and methods are same by convention.

In [123]:
class x:
    '''My class name is x'''
    a=10
    b=12
    def fun(a,b):
        return a+b

In [124]:
x.a

10

In [125]:
ab = x()

shift+tab after class name will show you the signature. Here discription is added to our class within '''

In [141]:
class x1(x):
    def fun2():
        '''My function description here'''
        print('hi')

In [142]:
ex1 = x1()

Inheritance example above

We can override the functions also as below

In [143]:
class x2(x1):
    def fun(a,b):
        return a*b
    def fun3():
        '''My function description here'''
        print('bye')

In [145]:
ex2 = x2()