In [2]:
print('hello')

hello

In [3]:
name = 'akshat'

In [4]:
name1 = 'kriti'

In [5]:
print('hello {} {}'.format(name, name1))

hello akshat kriti

In [6]:
print('hello {1} {0}'.format(name, name1))

hello kriti akshat

In [7]:
print('akshat'.capitalize())

Akshat

In [8]:
print(name, name1)

akshat kriti

In [9]:
'hello {} {}'.format(name, name1)

'hello akshat kriti'

BOOLEAN Data Type

True False 0 1

In [10]:
if (-1):
    print(name)
else:
    print(name1)

akshat

Any Non-Zero value is True, 0 value is False

In [11]:
l = [1,2,3,4,5]

In [12]:
abc = set(l)

In [14]:
type(abc)

set

SET Data Type maintains the unique values

In [15]:
num = 1
name2 = 'Maneesh'

In [16]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name2))

My number is: 1, and my name is: Maneesh

In [17]:
print('My number is: {one}, and my name is: {one}'.format(one=num, two=name2))

My number is: 1, and my name is: 1

In [18]:
print('My number is: {}, and my name is: {}'.format(num, num))

My number is: 1, and my name is: 1

In [19]:
print('My number is: {}, and my name is: {}'.format(num))

IndexError: tuple index out of range

In [20]:
nest = [1, 2, 3, [4, 5, ['target'] ] ]

In [21]:
nest[3]

[4, 5, ['target']]

In [22]:
nest[3][2]

['target']

In [25]:
nest[3][2][0]

'target'

comparison operators
or, and, not, !

if exp :

In [64]:
if 1 < 2 :
    print('yep!')
    if 2 > 3 :
        print('yipee!')

yep!

In [65]:
if (1 < 2) :
    print('yep!')
if 2 < 3 :
    print('yipee!')

yep!
yipee!

In [66]:
if 1 > 2 :
    print('first')
else :
    print('last')

last

In [67]:
if 1 == 2 :
    print('first')
elif 3 == 3 :
    print('middle')
else :
    print('last')

middle

In [68]:
seq = [1,2,3,4,5]

In [69]:
for item in seq:
    print(item)

1
2
3
4
5

In [70]:
num = 1
while(num<3):
    print(num)
    num = num + 1

1
2

In [71]:
for item in seq:
    print(item+item)

2
4
6
8
10

In [72]:
for item in 'hello':
    print(item+item)

hh
ee
ll
ll
oo

In [73]:
for item in {'hello', 'hi', 'hru'}:
    print(item+item)

hihi
hruhru
hellohello

In [74]:
for item in ['hello', 'hi', 'hru']:
    print(item+item)

hellohello
hihi
hruhru

In [75]:
range(10)

range(0, 10)

In [76]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

range(stop) -> range object
range(start, stop[, step]) -> range object

In [77]:
for item in range(4, 10, 2):
    print(item)

4
6
8

range(10) is a generator that will generate 10 values from 0 to 9 at run time. It will not place the values in memory beforehand.

In [78]:
la = list(range(10))

Here memory is used for storing 'la' variable only and no memory is used for generator object